@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@import "tailwindcss";  


* {
    font-family: "Poppins", sans-serif;
}                     

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}        
  
a.active hr{
  display: block;
}
@keyframes slide-in {
  0%{
    transform: translateX(100%);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
  
}
.animate-slide-in{
  animation: slide-in 0.4s ease-out;
}